<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Menu - Bubbly Bliss</title>
</head>
<body>
  
  <nav>
      <a href="/">🧋 Bubbly Bliss</a>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/account">Account</a></li>
        <li><a href="/menu">Menu</a></li>
        <li><a href="/reviews">Reviews</a></li>
      </ul>
    </nav>
 
  <h1>Our Menu</h1>


  <% if(teas && teas.length > 0) { %>
    <form action="/order" method="get">    
      <!-- Name: <input type="text" name="name">
      Email: <input type="text" name="email">
      Phone: <input type="text" name="phone"> -->
      <p>Special instructions:</p>
      <textarea
        name="specialInstructions"
        rows="4"
        cols="40"
        placeholder="E.g. less ice, extra pearls..."
      ></textarea><br>
      <button type="submit">🧋  Order</button>  
      <hr>
    <table border="1">
      <% 
        let counter = 0;
        teas.forEach(tea => { 
      %>
      <% if(counter % 3 === 0) { %>
        <tr>
      <% } %>
          <td>
            <img src="<%= tea.imageUrl %>" alt="<%= tea.name %>" height="200"><br>
            <label><strong><%= tea.name %> ($<%= tea.basePrice.toFixed(2) %>)</strong><input type="checkbox" name="selection" value="<%= tea._id %>"></label>
            <br>
            

            <label>Quantity: <input type="number" name="<%= tea._id %>_quantity" value="0"></label><br>
            Sugar Level: 
            <select name="<%= tea._id %>_sugar">
              <option value="0">0%</option>
              <option value="25">25%</option>
              <option value="50" selected>50%</option>
              <option value="75">75%</option>
              <option value="100">100%</option>
            </select><br>
            Ice Level: 
            <select name="<%= tea._id %>_ice">
              <option value="0">0%</option>
              <option value="25">25%</option>
              <option value="50" selected>50%</option>
              <option value="75">75%</option>
              <option value="100">100%</option>
            </select><br>
            <p>Toppings:</p>
            <input type="checkbox" id="pearls" name="<%= tea._id %>_toppings" value="pearls" />
            <label for="pearls">Pearls</label><br />
            <input type="checkbox" id="grass-jelly" name="<%= tea._id %>_toppings" value="grass-jelly"/>
            <label for="grass-jelly">Grass Jelly</label><br />
            <input type="checkbox" id="pudding" name="<%= tea._id %>_toppings" value="pudding" />
            <label for="pudding">Pudding</label><br />
            <input type="checkbox" id="cheese-foam" name="<%= tea._id %>_toppings" value="cheese-foam"/>
            <label for="cheese-foam">Cheese Foam</label><br />
            
            <p><%= tea.description %></p>
    
          </td>
      <%
        counter++;
        if(counter % 3 === 0) { 
      %>
        </tr>
      <% } %>
      <% }); %>
              
    </table>
    </form>
  <% } else { %>
    <p>No teas available at the moment.</p>
  <% } %>
  

  <footer>
    <p>&copy; 2026 Bubbly Bliss. All rights reserved.</p>
  </footer>

</body>
</html>
